body {
    display: flex;
    justify-content: center;
}

#veld {
    background-color: black;
    height: 600px;
    width: 800px;
    position: relative;
    border: 5px solid black;
}

#lijn
{
    left: 50%;
    background-color: white;
    height: 99%;
    position: absolute;
    border: 3px;
}


#ball {
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 10px;
}

#linkerSpeler, #rechterSpeler {
    height: 100px;
    width: 20px;
    position: absolute;
    border-radius: 100px;
    border: 2px solid #000;
}

#linkerSpeler {
    background-color: blue;
    top: 45%;
    left: 2%;
}

#rechterSpeler {
    background-color: red;
    top: 45%;
    left: 95%;
}

button {
    height: 80px;
    width: 80px;
    color: white;
    background-color: black;
}

#btns {
    border: 3px solid grey;
    border-radius: 15px;
    padding: 5px;
    margin: 2px;
    display: flex;
    flex-direction:column;
    gap: 30%;
}

#XenY, #score {
    margin: 2px;
    font-size: 20px;
    border: 3px solid grey;
    border-radius: 15px;
    padding: 10px;
}

#stapX, #stapY {
    padding: 10px;
}

#counts
{
    color: white;
    font-size: 60px;
}

#count1
{
    position: absolute;
    left: 44%;
}
#count2
{
    position: absolute;
    left: 53%;
}

